<div class="container">
    <h1>Livestock Health Analyzer</h1>

    <form #livestockform="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="inside_temperature">inside_temperature</label>
        <input type="text" [(ngModel)]="model.inside_temperature" class="form-control" name="inside_temperature" required>

        <label for="humidity">humidity</label>
        <input type="text" [(ngModel)]="model.humidity" class="form-control" name="humidity" required>

        <label for="water_consumption">water_consumption</label>
        <input type="text" [(ngModel)]="model.water_consumption" class="form-control" name="water_consumption" required>

        <label for="outside_temperature">outside_temperature</label>
        <input type="text" [(ngModel)]="model.outside_temperature" class="form-control" name="outside_temperature" required>

        <label for="percent_complete">percent_complete</label>
        <input type="text" [(ngModel)]="model.percent_complete" class="form-control" name="percent_complete" required>
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
